{% comment %} <!-- <h1>{{value|add:"10"}}</h1> -->
<!-- <h1>{{value|add:" "|add:"lokhande"}}</h1>

<h1>{{value|capfirst}}</h1> -->

<!-- <h1>{{value|cut:" "}}</h1> -->

<!-- <h1>{{value|default:"nothing data"}}</h1>     -->
<!-- Jab Hmara Deta Nhi Aa Raha Ho To Us Condition Me Kya Dikhega -->

<!-- <h1>{{value|default:"data is none"}}</h1> -->
<!-- Jab Kabhi Data None Ho -->

<!-- <h1>{{value|dictsort:"name"}}</h1> -->

<!-- <h1>{{value|divisibleby:"3"}}</h1> -->
<!-- <h1>{{value|divisibleby:"2"}}</h1> -->
<!-- divisibleby fillter se ye pta chalta h ki jo value me h usse di gyi value divide ho sakti hai ya nhi --> {% endcomment %}

<!-- <h1>{{value|join:"//"}}</h1> -->

<h1>{{value|last}}</h1>
<!-- yeh collection me last value ko return krta hai -->

<h1>{{value|length}}</h1>
<!-- Apne collection ki length kitni hai ye vo bta hai -->

<h1>{{value|lower}}</h1>

<h1>{{value|random}}</h1>
<!-- Esse collection me se koi bhi random value de deta h -->

<h1>{{value|slice:"::2"}}</h1>
<!-- Same as python slice -->

